<% content_for :body do %>
    
<div data-widget-type="<%= @activity['type'] %>" data-target="<%= @activity['target'] %>" data-task-id="<%= @task.id %>" data-activity-id="<%= @current_activity %>"> 
    <div class="da-task level-<%= @level %>">
        <div class="da-task-instructions">
            <h2 class="da-dark-h2">Instructions</h2>

            <%= render ("tasks/" + @activity['type'] + '_instructions') rescue render ("tasks/instructions") %>
        </div>

        <div class="da-task-container">
            <%= render ("tasks/" + @activity['type']) %>
        </div>
    </div>

    <button class="da-button" data-x-role="tasksubmit">Go To The Next Task</button>
</div>
<% end %>